<% if @user.attended_events.any? %>
    <h3>Upcoming Events</h3>

    <%= render @upcoming_events %>
<% else %>
<p>No Upcoming Events </p>

<% end %>

<% if @user.events.past.any?%>
    <%= render @events.past %>
<% end %>
